    </div> <!-- .admin-container -->
    <!-- User Details Modal, Edit User Modal, etc. would go here -->
    <!-- Core Admin JS -->
    <script src="/js/utils.js"></script>
    <script src="/admin/js/admin.js"></script>
    <!-- Feature-specific JS -->
    <script src="/admin/js/users.js"></script>
    <script src="/admin/js/tokens.js"></script>
    <script src="/admin/js/deposits.js"></script>
    <script src="/admin/js/transactions.js"></script>
</body>
</html>
